*{
  box-sizing: border-box;
}

.authImg2{
  float: left;
  width: 25%;
  margin-left: 5%;
  margin-top: 4%;
  padding-top: 5%;
  /* margin-left:38%; */
  justify-content: center;
  clear: left;
}
h2{
  width: 70%;
  margin: 6% auto;
  font-size: 2.6em;
  color: #b71c1c;
  border: 1px solid #0277BD;
  border-radius: 15px;
}

p{
  text-align: right;
  width: 80%;
  margin-left: 12%;
  font-size: 1.2em;
  line-height: 1.8em;
}
@media (min-width: 320px){
  h2{
    width: 60%;
    font-size: 2em;
    float: right;
    margin-right: 4%;;
   
  }
  p{
    text-align: left;
    margin-left: 12%;
    font-size: 1em;
    line-height: 1.8em;
  }
  .authImg2{
    float: left;
    width: 24%;
    margin-left: 5%;
    margin-top: 1%;
    clear: both;
  }
}
@media (min-width: 414px){
  p{
    text-align: right;
    margin-left: 12%;
    font-size: 1.4em;
    line-height: 1.8em;
  }
  .authImg2{
    float: left;
    width: 24%;
    margin-left: 5%;
    margin-top: 1%;
    clear: both;
  }
}
@media (min-width: 768px), (max-width:978){
  p{
    text-align: right;
    margin-left: 12%;
    font-size: 1.4em;
    line-height: 1.8em;
  }
  .authImg2{
    float: left;
    width: 26%;
    margin-left: 5%;
    margin-top: 1%;
    clear: both;
  }
  h2{
    width: 60%;
    font-size: 2.4em;
    float: right;
    margin-right: 4%;;
    text-align: center;
  }
}
@media (min-width: 978px), (max-width:1220){
  p{
    margin-left: 12%;
    font-size: 1.8em;
    line-height: 1.8em;
  }
  .authImg2{
    float: left;
    width: 23%;
    margin-left: 5%;
    margin-top: 1%;
    clear: both;
  }
  h2{
    width: 60%;
    font-size: 2.4em;
    float: right;
    margin-right: 4%;
    text-align: center;
  }
}