*{
  box-sizing: border-box;
}

body{
  display: inline-flexbox;
  background: #B3E5FC;
  font-size: .8em;
}
ul{
  list-style: none;
}

.menu{
  display: flexbox;
  background: #B3E5FC;
  color: #0277BD;
  width: 30%;
  margin-left: 0;
}
.menu li{
  line-height: 2rem;
}
menu:hover {
  cursor: pointer;
  background: #B3E5FC;
}
/* .js-hidden{
  display:none;
} */
/* bio:hover bio:active{
  background: red;
  color: #B3E5FC;
} */

.headerMenu{
  background: #0277BD;
  color: #b71c1c;
  width: 80%;
  height: 7em;
  font-size: 2.5em;
  margin: 0 auto;
  display: inline-flexbox;
}
.navBar{
  display: flexbox;
  flex-direction: row;
  margin: 0;
}

.navMenu{
  display: inline-flexbox;
  flex-direction: row;
  width:8%;
  margin-top: 5%;
}

h1{
  display: inline-flexbox;
  text-align: center;
  font-size: 2rem;
  margin-top: -7%;
  
}
.profileImg{
  width: 30%;
  height: 40%;
  margin-left: 35%;
  margin-top: 5%;
}

footer{
  background: #0277BD;
  color: #b71c1c;
  width: 80%;
  font-size: 2rem;
  margin: 2% auto;
}

@media (min-width: 320px){
  header{
  font-size: 1rem;
  }
  .profileImg{
    width: 35%;
    height: 45%;
  }
  footer{
    display: flexbox;
    font-size: 1.3rem;
    height: 10%;
    margin-top: 10%;
    text-align: center;
  }
}

a{
  color: #b71c1c;
}

a:hover {
  
  color: #FDD835;
  cursor: pointer;
}