*{
  box-sizing: border-box;
  /* font-size: 16px; */
}

body{
  display: inline-flexbox;
  background: #B3E5FC;
  font-size: .8em;
}
ul{
  list-style: none;
}
.js-hidden{
  display: none;
}
.menu{
  display: flexbox;
  background: #B3E5FC;
  color: #0277BD;
  width: 30%;
  margin-left: 0;
}
.menu li{
  line-height: 2rem;
}
.navBar img:hover{
  cursor: pointer;
  background: #B3E5FC;
}
.menu:hover {
  cursor: pointer;
  background: #B3E5FC;
}

/* bio:hover bio:active{
  background: red;
  color: #B3E5FC;
} */

.headerMenu{
  background: #0277BD;
  color: #b71c1c;
  width: 80%;
  height: 8em;
  /* font-size: 4em; */
  margin: 0 auto;
  display: inline-flexbox;
}
.navBar{
  display: flexbox;
  flex-direction: row;
  margin: 0;
}

.navMenu{
  display: inline-flexbox;
  flex-direction: row;
  width:8%;
  margin-top: 2%;
}

h1{
  display: inline-flexbox;
  text-align: center;
  font-size: 2.25em;
  margin-top: -7%;
  
}
.profileImg{
  width: 30%;
  height: 40%;
  margin-left: 35%;
  margin-top: 5%;
}
.js-books-hidden{
  display: none;
  padding-top: 8%;
}

footer{
  background: #0277BD;
  color: #b71c1c;
  width: 80%;
  height: 3rem;
  font-size: 2.5rem;
  margin: 2% auto;
}

@media (min-width: 320px){
  header{
  font-size: 1rem;
  }
  .profileImg{
    width: 35%;
    height: 45%;
  }
  footer{
    display: flexbox;
    font-size: 1.3rem;
    height: 10%;
    margin-top: 10%;
    text-align: center;
  }
}

a{
  color: #b71c1c;
}

a:hover {
  
  color: #FDD835;
  cursor: pointer;
}

